<nav class="mt-8 bg-white py-3 flex items-center justify-between border-t border-gray-200" aria-label="Pagination">
    <div class="hidden sm:block">
    <p class="text-sm text-gray-700">
      Showing
      <span class="font-medium">{{page}}</span>
      of
      <span class="font-medium">{{pages}}</span>
      results
    </p>
    </div>
    <div class="flex-1 flex justify-between sm:justify-end">
    {{#if prev}}
    <a href="{{page_url prev}}" class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50">
      Newer Posts
    </a>
    {{/if}}
    {{#if next}}
    <a href="{{page_url next}}" class="ml-3 relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50">
      Older Posts
    </a>
    {{/if}}
  </div>
</nav>